<div class="main-container">
    <div class="main-content">
        <div class="logo-container">
            <picture>
                <source media="(min-width:0px)"
                        srcset="./assets/data-table.png">
                <img alt="Logo Data Table" ngSrc="./assets/data-table.png" height="80" width="80">
            </picture>
            <div class="logo-title">Data-Table</div>
        </div>
        <nav>
            <ul class="navbar">
                <li class="navbar-nav">
                    <a routerLinkActive="active-item"
                       class="navbar-item"
                       routerLink="/users">Users</a>
                </li>
                <li class="navbar-nav">
                    <a routerLinkActive="active-item"
                       class="navbar-item"
                       routerLink="/products">Products</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
